@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: black;
   background-size: cover;
   
 }
 p{
     padding-top: 50px;
     color: white;
     bottom: 10px;
     font-size: 30px;
    
     
 }
video{
    background: black;
    border: 4px solid white;
    border-radius: 4px;
}
button{
    position: relative;
    height: 60px;
    width: 200px;
    border: none;
    outline: none;
    color: white;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
  }
  button:before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  button:hover:before{
    opacity: 1;
  }
  button:hover:active{
    background: none;
  }
  button:hover:active:before{
    filter: blur(2px);
  }
  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  a{
    text-decoration: none;

}
a:hover{
    color: red;
}
